In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('illiteracy.txt', delimiter='\t')

In [7]:
data.head(10)

        Country  Illit  Births
0       Albania   20.5    1.78
1       Algeria   39.1    2.44
2       Bahrain   15.0    2.34
3        Belize    5.9    2.97
4         Benin   73.5    5.60
5       Bolivia   18.5    3.65
6      Botswana   17.6    3.03
7        Brazil   11.9    2.29
8        Brunei   11.5    2.38
9  Burkina Faso   83.4    5.90

Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [16]:
data.corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [10]:
data.corr(method ='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000